<h1><%= @the_movie.title %></h1>

<dl>
  <dl>
    <dt>Image</dt>
    <dd>
      <img src="<%= @the_movie.image %>" width="250">
    </dd>
  </dl>

  <dt>Year</dt>
  <dd>
    <%= @the_movie.year %>
  </dd>

  <dt>Duration</dt>
  <dd>
    <%= @the_movie.duration %> minutes
  </dd>

  <dt>Description</dt>
  <dd>
    <%= @the_movie.description %>
  </dd>

  <dt>Internal ID</dt>
  <dd>
    <%= @the_movie.id %>
  </dd>
</dl>
